*/*.iml
*.iml
*/target/
target/
*/*/target/
.idea
root.iml
*/log/*
log/
logs/
tmp/
.vagrant/
Vagrantfile
.log
#OSX
.DS_Store
nohup.out
atlassian-ide-plugin.xml
MnesiaCore.*
tagging/webapp/brat/static/case-studies
tagging/webapp/brat/static/example-READMEs


dashboard3.0FE/bower_components
dashboard3.0FE/app/components
dashboard3.0FE/*.xml
dashboard3.0FE/dist
dashboard3.0FE/coverage
dashboard3.0FE/test
dashboard3.0FE/node_modules
dashboard3.0FE/tags
dashboard3.0FE/public/fonts
dashboard3.0FE/public/*.png
dashboard3.0FE/TEST-*
npm-debug.log
dashboard3.0FE/build
